@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
  }

.navigation {
  background: rgb(0,0,0,0.2);
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 19px;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100vw;
  transition: all 0.5s ease;
}

.scrolled {
  background: rgb(0,0,0,0.9);
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo  {
  background-color: #ffeb77;
  background-image: linear-gradient(to top, #b37100 0%, #ffff00 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
}

.navbar_menu  {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar_menu_item {
  height: 80px;
}

.navbar_link  {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all .3s ease;
}

.navbar_menu_btn  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  transition: all 0.3s ease;
}

.nav_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #c21500;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  color: white;
  transition: all 0.5s ease;
}

.navbar_link:hover  {
  color: #ff873c;
  transition: all 0.5s ease;
}

.nav_btn:hover  {
  background: #ffc500;
  transition: all 0.5s ease;
  color: black;
}

/* Hero */
.hero {
  /* background: linear-gradient(to right, #161616, black);*/
  /* background: url("https://images.pexels.com/photos/6649421/pexels-photo-6649421.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") no-repeat center; */
  /* background: url("https://images.pexels.com/photos/6044266/pexels-photo-6044266.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat center black; */
  padding: 200px 0px;
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero_image {
  background: url("https://images.pexels.com/photos/6649421/pexels-photo-6649421.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") no-repeat center;
/*   background-size: cover;
  background-attachment: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(1.5);
  transition: all 9s;
  opacity: .1;
  /* z-index: -1; */
}

.zoomin {
  padding: 200px 0px;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  transform: scale(1);
  transition: all 9s ease;
  opacity: 1;
  /* z-index: -1; */
}

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero_wrapper {
  font-weight: 700;
  font-size: 95px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  opacity: 1;
  transition: all .7s ease;
}

.hero_heading {
  color: antiquewhite;
  transform: translateX(-10%);
  transition: all 0.1s;
  opacity: 0;
}

.standout {
  background: #ffe522;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #ffcc00, #ff6200);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #ffcc00, #ff6200); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-left: 30px;
  transform: translateY(80%);
  transition: all 1s ease;
  opacity: 0;
  /* -webkit-text-stroke: #131313 1px; */
}

.hero_description {
  font-size: 65px;
  font-weight: 600;
  color: antiquewhite;
  margin-bottom: 24px;
  background: #ffe522;  /* fallback for old browsers */
  transform: translateX(10%);
  transition: all 1s ease;
  opacity: 0;
  /* -webkit-text-stroke: #131313 1px; */
}

.movein {
  background: #ffe522;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #ffcc00, #ff6200);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #ffcc00, #ff6200); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 1;
  transform: translateY(0);
  transition: all 2.5s ease;
}

.movein2 {
  opacity: 1;
  transform: translateX(0);
  transition: all 2.5s ease;
}

.movein3 {
  background: #ffe522;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #636363, #ffffff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #636363, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 1;
  transform: translateX(0);
  transition: all 2.5s ease;
}

.hilite  {
  border-bottom: 4px solid rgb(242, 255, 0);
}

.main {
  background-color: #131313;
  padding: 160px 0;
}

#about {
  background: center/cover fixed no-repeat url("https://images.pexels.com/photos/6844467/pexels-photo-6844467.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

}

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  max-width: 1300px;
  width: 100%;
  padding: 0 50px;
  transition: all 1s ease;
}

/* .main_container .dist_container {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}

.main_container .dist_content{
  margin: 0;
  padding: 0;
} */

.main_content {
  color: wheat;
  width: 100%;
}

.main_content h1  {
  font-size: 32px;
  background-color: #ffeb77;
  background-image: linear-gradient(to top, #b37100 0%, #ffff00 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.main_content h2  {
  font-size: 70px;
  font-weight: normal;
  background: #ffe522;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #838383, #FFF200, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #838383, #FFF200, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-size: 100%;
}

.main_content p {
  margin-top: 16px;
  font-size: 32px;
  font-weight: bold;
}

.main_btn  {
  font-size: 20px;
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 32px;
  cursor: pointer;
  position: relative;
  transition: all 2.5s ease;
  outline: none;
  background: #c21500;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  opacity: 0;
}

.movein4 {
  opacity: 1;
}

.main_btn a {
  position: relative;
  color: white;
  text-decoration: none;
  z-index: 2;
}

.main_btn a:hover  {
  color: black;
}

.main_btn:after  {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(242, 255, 0);
  transition: all 0.3s ease;
  border-radius: 4px;
}

.main_btn:hover a {
  color: rgb(0, 0, 0);
}

.main_btn:hover:after {
  width: 100%;
}

.main_img_container {
  text-align: center;
}

.about_btn,
.dist_btn   {
  opacity: 1;
}

.main_img_card  {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: url("https://i.pinimg.com/originals/0f/00/a6/0f00a6b52ea0a47a28d3710a927c299b.jpg") no-repeat center;
  background-size: cover;
  /* background-image: linear-gradient(to top, #b37100 0%, #ffff00 100%); */
}

.dist_img_card  {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: url("https://images.pexels.com/photos/6457565/pexels-photo-6457565.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat center;
  background-size: 200%;
  /* background-image: linear-gradient(to top, #b37100 0%, #ffff00 100%); */
}


.fa-layer-group,
.fa-users {
  font-size: 200px;
  text-align: center;
}

#card_2 {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f);
}

.products {
  background: url("https://images.unsplash.com/photo-1591348278863-a8fb3887e2aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2546&q=80") top/cover fixed no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 180px 0;
  transition: 1s ease;
}

.products::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.products h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ffae00 0%, #fff47c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  z-index: 2;
}

.products_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  z-index: 2;
  transition: all 1s ease;
}

.products_card {
  margin: 10px;
  padding: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* background-image: linear-gradient(45deg, #00dbde 0%, #fc00ff 100%); */
  transition: 0.3s ease-in;
}

.products_card:first-child {
  background: url("https://images.pexels.com/photos/6650020/pexels-photo-6650020.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat center;
  /* background-size: cover; */
}

.products_card:nth-child(2) {
/*   background: #1fa2ff;
  background: -webkit-linear-gradient(to right,#a6ffcb,#12d8fa,#1fa2ff);
  background: linear-gradient(to right,#a6ffcb,#12d8fa,#1fa2ff); */

  background: url("https://images.pexels.com/photos/6044266/pexels-photo-6044266.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat center;
  background-size: auto;
}

.products_card:nth-child(3) {
/*   background-image: linear-gradient(-225deg,#231557 0%,#44107a 29%,#ff1361 67%,#fff800 100%); */
  background: url("https://images.pexels.com/photos/5462561/pexels-photo-5462561.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") center no-repeat;
}

.products_card:nth-child(4) {
  background: url("https://images.pexels.com/photos/6649422/pexels-photo-6649422.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat center;
}

.products_card h2 {
  text-align: center;
}

.products_card p {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 20px;
}

.products_btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  /* border: oldlace 2px; */
}

.products_card button {
  color: #fff;
  padding: 14px 24px;
  /* outline: none; */
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid gray;
}

.products_card button a {
  text-decoration: none;
  color: #fff;
}

.products_card button:hover {
  cursor: pointer;
}

.products_card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.footer_container {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer_logo  {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 32px;
}

.footer_links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer_link_wrapper  {
  display: flex;
}

.footer_link_items  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: auto;
  box-sizing: border-box;
}

.footer_link_items h2 {
  margin-bottom: 16px;
  color: white;
}

.footer_link_items  a {
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.3 ease-out;
}

.footer_link_items a:hover  {
  color: white;
  transition: 0.3 ease-out;
}

.social_icon_link  {
  color: white;
  font-size: 24px;
}

.social_media {
  max-width: 1000px;
  width: 100%;
}

.social_media_wrap  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website_rights {
  color: white;
}

@media screen and (max-width: 1300px) {
  .products_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1182px) {
  .main_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main_img_container {
    display: flex;
    justify-content: center;
  }

  .main_img_card,
  .dist_img_card {
    height: 425px;
    width: 425px;
  }

  .main_content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main_content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main_content h2 {
    font-size: 3rem;
  }

  .main_content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .hero_description {
    font-size: 50px;
  }

  .hero_wrapper {
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
  }

  .standout {
    margin: 30;
  }

}

@media screen and (max-width: 960px) {
  .navcontainer {
    padding: 0;
  }

  .navbar_menu  {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    transform: translateY(-700px);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    z-index: -1;
  }

  .navbar_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    transform: translateY(0px);
    z-index: 98;
    height: 60vh;
    font-size: 25px;
  }

  #navbar_logo  {
    padding-left: 25px;
  }

  .navbar_toggle .hbar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: white;
    display: block;
    cursor: pointer;
  } 
  
  .navbar_menu_item {
    width: 100%;
  }

  .navbar_link  {
    text-align: center;
    width: 100%;
    padding: 32px;
  }

  .navbar_menu_btn {
    padding-bottom: 32px;
  }

  .nav_btn  {
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile_menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  
  #mobile_menu.active2 .hbar:nth-child(2) {
    opacity: 0;
  }

  #mobile_menu.active2 .hbar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile_menu.active2 .hbar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


@media screen and (max-width: 820px)  {
  .footer_links {
    padding-top: 32px;
  }

  #footer_logo  {
    margin-bottom: 32px;
  }

  .website_rights {
    margin-bottom: 32px;
  }

  .footer_link_wrapper  {
    flex-direction: column;
  }

  .social_media_wrap  {
    flex-direction: column;
  }
}


@media screen and (max-width: 768px)  {
  /*   .hero_heading {
      font-size: 60px;
    } */
  
  .hero_description {
    font-size: 50px;
  }

  .hero_wrapper {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
  }
  
  .standout {
    margin: 0 0 13px 10px;
    font-size: 70px;
  }
  
  .products_wrapper {
    grid-template-columns: 1fr;
  }

}


@media screen and (max-width: 480px) {
  .hero_wrapper {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0 40px 0;
  }
  
  .hero_description {
    font-size: 30px;
  }

  .standout {
    font-size: 55px;
    margin: 0;
  }
  
  .main {
    padding: 70px 0 0 0;
  }

  .main_img_card,
  .dist_img_card {
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
  }

/*   .main_img_container {
    margin: 0;
    padding: 0;
  } */

  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }

  .main_container .dist_container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
  }
  
  .main_container .dist_content{
    margin: 0;
    padding: 0;
  }

  .main_content h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .main_content h2 {
    font-size: 2rem;
  }

  .main_content p {
    margin-top: 2rem;
    font-size: 90%;
  }

  .main_btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }

  .dist_container {
    margin: 0;
  }

  .products {
    padding: 100px 0 0 0;
  }

  .products h1 {
    margin-bottom: 1rem;
  }

  .footer_link_items  {
    margin: 0;
    padding: 10px;
    width: 100%;
  }

}




